# 2403 PT_DS Regression Project

### Project Title: Regression Project
Analyse and predict average temperature from agri-food sector.
#### Done By: Regression Project Team (K Ebrahim, J Sithole, J Maleka, S Tlhale, N Mhlophe & M Majola)

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#nine>6. Conclusion and Future Work</a>

<a href=#ten>7. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>
### Objective of the Project:
The aim is to analyze and predict average temperature from the agri-food sector, using data from the FAO and IPCC, to understand climate impacts and develop sustainable strategies for stakeholders including policymakers and agricultural businesses.

### Project Purpose:
The purpose of this project is to analyze and predict average temperatures specifically in the agri-food sector. By leveraging data from the FAO (Food and Agriculture Organization) and the IPCC (Intergovernmental Panel on Climate Change), the project aims to gain deeper insights into how climate impacts influence the agricultural industry. The objective is to help develop sustainable strategies that can be used by policymakers and agricultural businesses to mitigate risks associated with climate change and enhance agricultural productivity and sustainability.

### Project Details:
**Data Source**: The project utilizes data from internationally recognized organizations like FAO and IPCC, ensuring reliable and comprehensive climate and agricultural data.

**Focus**: The project centers on understanding the relationship between average temperatures and various factors in the agri-food sector, potentially including crop yields, soil conditions, and climate variability.

**Goal**: Develop predictive models that can forecast future average temperatures in agricultural regions, which will help stakeholders plan for climate resilience.

**Impact**: This information will support sustainable agricultural practices, improve decision-making for businesses, and help policymakers in creating adaptation strategies for climate-related challenges.

### Additional Details:
**Methodology**:
1. **Data Collection**: Gather data from FAO and IPCC databases.
2. **Data Cleaning**: Preprocess the data to handle missing values, outliers, and inconsistencies.
3. **Feature Engineering**: Create relevant features that can impact average temperature predictions.
4. **Model Development**: Train multiple predictive models (e.g., Linear Regression, Random Forest, XGBoost) and select the best-performing model.
5. **Validation**: Validate the model using a separate test dataset to ensure accuracy.
6. **Deployment**: Deploy the model for continuous temperature prediction and monitoring.

**Tools and Technologies**:
- **Python**: Primary programming language for data analysis and model development.
- **Pandas**: For data manipulation and analysis.
- **NumPy**: For numerical operations.
- **Scikit-learn**: For machine learning model development.
- **XGBoost**: For advanced gradient boosting models.
- **Matplotlib and Seaborn**: For data visualization.
- **Jupyter Notebook**: For interactive data analysis and model building.


---

### ***Dataset Features***:
**Area**: The data collection covers a vast portion of the globe (236 countries). The dataset includes data from a diverse range of countries across all continents, capturing different regions, climates, and agricultural practices.

**Year**: 1990 to 2020.

### Emission Sources:
- **Savanna fires**: CO2 emissions from fires in savanna regions.
- **Forest fires**: CO2 emissions from forest fires.
- **Crop Residues**: Emissions from the burning or decomposition of crop residues.
- **Rice Cultivation**: CO2 emissions related to rice farming, often associated with methane emissions as well.
- **Drained organic soils (CO2)**: Emissions from drained peatlands or other organic soils.
- **Pesticides Manufacturing**: Emissions from the production of pesticides.
- **Food Transport**: Emissions from the transportation of food products.
- **Forestland**: CO2 sequestration or emissions related to forested areas.
- **Net Forest conversion**: Net CO2 emissions from deforestation or reforestation.

### Food System Activities:
- **Food Household Consumption**: Emissions related to household food consumption.
- **Food Retail**: Emissions from retail activities related to food.
- **On-farm Electricity Use**: Emissions from electricity used on farms.
- **Food Packaging**: Emissions from the packaging of food products.
- **Agrifood Systems Waste Disposal**: Emissions from waste disposal in food systems.
- **Food Processing**: Emissions from the processing of food.
- **Fertilizers Manufacturing**: Emissions from the production of fertilizers.

### Other Activities and Emission Sources:
- **IPPU**: Emissions from industrial processes and product use.
- **Manure applied to Soils**: Emissions from the application of manure to soils.
- **Manure left on Pasture**: Emissions from manure left on pastures.
- **Manure Management**: Emissions from the management of manure.
- **Fires in organic soils**: CO2 emissions from fires in organic-rich soils.
- **Fires in humid tropical forests**: Emissions from fires in tropical forests.

### Energy Use and Demographics:
- **On-farm energy use**: Emissions from energy consumption on farms.
- **Rural population**: The rural population count.
- **Urban population**: The urban population count.
- **Total Population - Male**: Total male population.
- **Total Population - Female**: Total female population.

### Total Emission and Climate Data:
- **total_emission**: The total CO2 emissions from all sources combined.
- **Average Temperature °C**: Average temperature in degrees Celsius.

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [2]:
# Importing all Important Packages
import pickle                                       #For saving and loading Python objects.
#import joblib                                       #For saving and loading large NumPy arrays and Python objects efficiently.
import seaborn                                      #For saving and loading large NumPy arrays and Python objects efficiently.
from sklearn import metrics                         #For calculating evaluation metrics like mean squared error, R-squared, etc.
import statsmodels.api as sm                        #For statistical modeling, including linear regression
from sklearn.pipeline import make_pipeline          #For creating pipelines that chain multiple data preprocessing and modeling steps.
from sklearn.tree import DecisionTreeRegressor      #For decision tree models.
from sklearn.preprocessing import StandardScaler    #For data preprocessing tasks like scaling and normalization.
from sklearn.model_selection import train_test_split #For tasks like splitting data into training and testing sets.
from sklearn.linear_model  import LinearRegression, Ridge, Lasso  #For linear regression models, including Ridge and Lasso regression.
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import pandas as pd                                 # for data manipulation and analysis
import numpy as np                                  # for numerical operations
import matplotlib.pyplot as plt                     # for data visualization
import seaborn as sns                               # for enhanced data visualization 
import warnings                                     #For controlling warnings that might be generated during code execution.
warnings.filterwarnings('ignore')                   # for excluding warnings
from scipy.stats import ttest_ind

---
<a href=#two></a>

### Data Collection and Description

**Purpose:**
The purpose of this section is to describe the process used to collect the data for analyzing CO2 emissions from the agri-food sector, as well as to provide an overview of the dataset's characteristics.

**Details:**

**Sources of Data:**
- **FAO**: Food and Agriculture Organization.
- **IPCC**: Intergovernmental Panel on Climate Change.

**Methods of Collection:**
- **Public Datasets**: Data was sourced from FAO and IPCC repositories, which are known for their comprehensive and reliable climate and agricultural data.

**Dataset Overview:**
- **Size**: The dataset consists of numerous rows and columns, capturing various aspects of CO2 emissions from agricultural activities across different countries and years.
- **Scope**: It includes data on emissions from activities such as savanna fires, forest fires, crop residues, and manure management, as well as demographic information and temperature data.
- **Types of Data**:
  - **Numerical Data**: Includes emission values, population counts, and temperature readings.
  - **Categorical Data**: Includes country names and emission source categories.

This dataset provides a rich source of information for analyzing the impact of agricultural activities on CO2 emissions and understanding how different factors contribute to climate change.

**Data provided by project repo.**

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [103]:
# Loading co2 emissions dataset using pandas

df = pd.read_csv('co2_emissions_from_agri.csv')
df.head()

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,NaN,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,NaN,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,NaN,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,NaN,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,NaN,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

In [72]:
# Find count of nulls
null_counts = df.isnull().sum()

# Determine % of nulls in columns
null_percentage = (df.isnull().sum() / len(df)) * 100
null_percentage = null_percentage[null_percentage > 0]

# Add to dataframe
null_df = pd.DataFrame({
    'null_count': null_counts,
    'null_column_percentage': null_percentage
})

# Filter df for nulls only
null_df = null_df[null_df["null_count"]> 0]
print(null_df)
print("\nDataframe shape:", df.shape)

                                 null_count  null_column_percentage
Crop Residues                          1389               19.942570
Fires in humid tropical forests         155                2.225413
Food Household Consumption              473                6.791098
Forest fires                             93                1.335248
Forestland                              493                7.078248
IPPU                                    743               10.667624
Manure Management                       928               13.323762
Manure applied to Soils                 928               13.323762
Net Forest conversion                   493                7.078248
On-farm energy use                      956               13.725772
Savanna fires                            31                0.445083

In [21]:
# Dropping nulls and confirming shape
df.dropna(inplace=True)
print("\nDataframe shape:", df.shape)

Dataframe shape: (4546, 31)

In [50]:
# Find duplicates
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [91]:
# Find outliers using scipy.stats
from scipy import stats

# Select numeric datatypes
numeric_cols = df.select_dtypes(include="number")

# calculate zscores
zscores = np.abs(stats.zscore(numeric_cols))

# Filter zscores > 3
outliers = numeric_cols[(zscores > 3).any(axis=1)]

# Filter df with indices of outliers
df.loc[outliers.index]

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C
155,Angola,1990,25197.6220,15300.4301,32.3523,24.7274,346.4974,1.0,100.0467,0.0,...,228.6219,0.0,14989.1408,7.0463,7650444.0,4520997.0,5837431.0,5991207.0,69866.840429,0.676667
156,Angola,1991,25197.6220,15300.4301,39.7935,31.3600,346.4974,1.0,98.6277,0.0,...,230.9840,0.0,14989.1408,7.0463,7710281.0,4843165.0,6029631.0,6199060.0,69959.718829,0.328333
157,Angola,1992,25197.6220,15300.4301,43.6659,34.3000,346.4974,0.0,102.1643,0.0,...,233.7026,0.0,14989.1408,7.0463,7776001.0,5192344.0,6224203.0,6408303.0,70061.336629,0.393500
158,Angola,1993,25197.6220,15300.4301,43.9124,39.2000,346.4974,3.0,123.2375,0.0,...,228.8310,0.0,14989.1408,7.0463,7839762.0,5563972.0,6416502.0,6621767.0,70065.877945,0.341333
159,Angola,1994,25197.6220,15300.4301,49.1647,188.1600,346.4974,0.0,134.8715,0.0,...,223.8926,0.0,14989.1408,7.0463,7889542.0,5951759.0,6616409.0,6845622.0,70296.692429,0.221333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,Zambia,2016,15155.6428,26865.5563,172.0801,43.2905,14465.5896,63.0,241.4879,0.0,...,315.7753,0.0,24028.8473,119.5355,9550308.0,7041082.0,8260471.0,8507289.0,106393.870152,1.300083
6930,Zambia,2017,13577.1825,26854.3922,218.4410,57.9670,14457.3172,74.0,238.5063,0.0,...,319.1341,0.0,24939.2933,91.1681,9747709.0,7346421.0,8525934.0,8772120.0,106048.711047,0.103500
6931,Zambia,2018,13846.0542,24609.2979,155.4773,59.3821,14464.0570,75.0,208.4653,0.0,...,319.3220,0.0,21785.1154,98.1564,9945501.0,7663677.0,8794716.0,9041177.0,101153.495547,0.699500
6932,Zambia,2019,14693.4332,23933.2234,134.7087,48.1690,14554.7252,75.0,237.7122,0.0,...,316.8205,0.0,22298.4567,114.3543,10143883.0,7993486.0,9066397.0,9314079.0,101804.316347,0.964583
6933,Zambia,2020,13655.6268,21465.8081,205.7266,48.5218,14566.6658,75.0,284.4390,0.0,...,319.8354,0.0,19808.3477,114.3543,10342892.0,8336381.0,9338613.0,9589102.0,95970.904147,0.714417

- Decide on action to deal with outliers, to be removed or make use of Robust Regression that is less sensitive to outliers.
- The dataset can be split to handle both scenarios, without outliers to proceed with LinearRegression and with outliers using HuberRegressor from sklearn. 
---

In [75]:
# Check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4546 entries, 31 to 6964
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             4546 non-null   object
 1   Year                             4546 non-null   int64
 2   Savanna fires                    4546 non-null   float64
 3   Forest fires                     4546 non-null   float64
 4   Crop Residues                    4546 non-null   float64
 5   Rice Cultivation                 4546 non-null   float64
 6   Drained organic soils (CO2)      4546 non-null   float64
 7   Pesticides Manufacturing         4546 non-null   float64
 8   Food Transport                   4546 non-null   float64
 9   Forestland                       4546 non-null   float64
 10  Net Forest conversion            4546 non-null   float64
 11  Food Household Consumption       4546 non-null   float64
 12  Food Retail                      4546 non-null   float64
 13  On-farm Electricity Use          4546 non-null   float64
 14  Food Packaging                   4546 non-null   float64
 15  Agrifood Systems Waste Disposal  4546 non-null   float64
 16  Food Processing                  4546 non-null   float64
 17  Fertilizers Manufacturing        4546 non-null   float64
 18  IPPU                             4546 non-null   float64
 19  Manure applied to Soils          4546 non-null   float64
 20  Manure left on Pasture           4546 non-null   float64
 21  Manure Management                4546 non-null   float64
 22  Fires in organic soils           4546 non-null   float64
 23  Fires in humid tropical forests  4546 non-null   float64
 24  On-farm energy use               4546 non-null   float64
 25  Rural population                 4546 non-null   float64
 26  Urban population                 4546 non-null   float64
 27  Total Population - Male          4546 non-null   float64
 28  Total Population - Female        4546 non-null   float64
 29  total_emission                   4546 non-null   float64
 30  Average Temperature °C           4546 non-null   float64
dtypes: float64(29), int64(1), object(1)
memory usage: 1.2+ MB

- The only object type is Area which are country names, this feature can be one-hot encoded before fitting models.

In [99]:
# Clean column names
def clean_column_names(columns):
    # Initialize empty list
    cleaned_cols = []
    for col in columns:
        # Apply lower function and replace spaces and characters
        col = col.lower().replace(" ", "_").replace("(", "").replace(")", "").replace("-", "").replace("°", "").replace("__", "_")
        # Append each cleaned column to list
        cleaned_cols.append(col)
    return cleaned_cols

# Apply function to df
df.columns = clean_column_names(df.columns)
df.head()

,area,year,savanna_fires,forest_fires,crop_residues,rice_cultivation,drained_organic_soils_co2,pesticides_manufacturing,food_transport,forestland,...,manure_management,fires_in_organic_soils,fires_in_humid_tropical_forests,onfarm_energy_use,rural_population,urban_population,total_population_male,total_population_female,total_emission,average_temperature_c
31,Albania,1990,5.5561,7.0253,59.2391,23.5200,110.5705,2.0,46.9645,72.8581,...,474.6951,0.0,0.0,320.8805,2086075.0,1195379.0,1676902.0,1618163.0,3475.291240,0.735750
32,Albania,1991,5.5561,7.0253,31.4625,6.2720,110.5705,2.0,47.9519,72.8581,...,469.1415,0.0,0.0,195.1879,2073348.0,1202083.0,1675168.0,1626914.0,5680.135772,-0.461500
33,Albania,1992,5.5561,7.0253,29.9373,1.8816,110.5705,2.0,40.5272,72.8581,...,453.2180,0.0,0.0,163.1332,2033508.0,1207079.0,1670550.0,1633189.0,5221.131572,0.318250
34,Albania,1993,5.5561,7.0253,44.0550,1.0976,110.5705,2.0,57.6592,72.8581,...,481.3836,0.0,0.0,126.8489,1983942.0,1205641.0,1663515.0,1637195.0,5316.973272,0.270500
35,Albania,1994,5.5561,7.0253,42.4253,0.0000,110.5705,3.0,72.4242,72.8581,...,620.2991,0.0,0.0,94.9545,1936056.0,1204539.0,1654796.0,1639203.0,5564.287672,1.202667

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [5]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [6]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [7]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Collaborators: 
  - Kyle Ebrahim
  - Selogilwe Tlhale
  - Josia Sithole
  - Mgcini Emmanuel Majola
  - Jerry Maleka
  - Nhlokomo Mhlophe